
<html>
<body>
<style>

    body {
        background-color: gray;
    }
    h1 {
        text-align: center;
    }
    
    h3 {
        text-align: center;
    }

    #pill-circle {
    background: white;
    border-radius: 50%;
    height:200px;
    width:200px;
    position: relative;
    box-shadow: 0 0 0 100px blue;
    margin:100px;

}
</style>
<h1>Daily Medication Reminder</h1>
<h2></h2>
<h3>Click the date to get started</h3>
<div id="pill-circle">
  </div>
</div>
<form action="/Monday" method-"get"></form><button class="button"></button>
<form action="/Tuesday" method-"get"></form><button class="button"></button>
<form action="/Wednesday" method-"get"></form><button class="button"></button>
<form action="/Thursday" method-"get"></form><button class="button"></button>
<form action="/Friday" method-"get"></form><button class="button"></button>
<form action="/Saturday" method-"get"></form><button class="button"></button>
<form action="/Sunday" method-"get"></form><button class="button"></button>
<script>
    
</script>

</body>
</html>







